/**
 * Alisikander Ahmed 2017
 * Framework: MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fafafa;
}

.type-algin strong {
  font-family: 'Montserrat', sans-serif;
  color: #E4F1FE;
  font-size: 70px;
  font-weight: 400;
}

.type-algin{
  font-size: 70px;
  letter-spacing: -8px;
  font-weight: lighter;
  text-align: center;
}

.mobile-hero-text{
  text-align: center;
  font-size: 40px;
  letter-spacing: -3px;
  font-weight: lighter;
}

.center-icons{
  text-align: center;
  margin-top: 8px;
}

hr {
    border: 0;
    border-bottom: solid 2px #efefef;
    margin: 0px 100px 0px 100px;
}

p {
  line-height: 2rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #444;
  font-size: 40px;
  text-align: center;
  letter-spacing: -5px;
  font-weight: lighter;
}

.button-collapse {
  color: #26a69a;
}

.submit-align{
  text-align: right;
  padding-right: 50px;
}

.email-align{
  text-align: left;
  padding-left: 50px;
  font-size: 15px;
}

.email-icon-align{
  padding-top: 8px;
}

.logofont{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.5px;
  font-weight: 400;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

// Class for when element is above threshold
 .pin-top {
   position: relative;
 }

 // Class for when element is below threshold
 .pin-bottom {
   position: relative;
 }

 // Class for when element is pinned
 .pinned {
   position: fixed !important;
 }

 /*Typed-cursor Animation */

 .typed-cursor {
   opacity: 1;
   font-weight: 100;
   -webkit-animation: blink 0.7s infinite;
   -moz-animation: blink 0.7s infinite;
   -ms-animation: blink 0.7s infinite;
   -o-animation: blink 0.7s infinite;
   animation: blink 0.7s infinite;
 }

 @keyframes blink {
   0% {
     opacity: 1; }
   50% {
     opacity: 0; }
   100% {
     opacity: 1; } }
 @-webkit-keyframes blink {
   0% {
     opacity: 1; }
   50% {
     opacity: 0; }
   100% {
     opacity: 1; } }
 @-moz-keyframes blink {
   0% {
     opacity: 1; }
   50% {
     opacity: 0; }
   100% {
     opacity: 1; } }
 @-ms-keyframes blink {
   0% {
     opacity: 1; }
   50% {
     opacity: 0; }
   100% {
     opacity: 1; } }
 @-o-keyframes blink {
   0% {
     opacity: 1; }
   50% {
     opacity: 0; }
   100% {
     opacity: 1; } }




h1{
 font-family: 'Montserrat', sans-serif;
 color: #ecf0f1;
 font-size: 70px;
 text-align: left;
 letter-spacing: -10px;
 font-weight: lighter;
 position: absolute;
 transform: translate(-75%, -102%);
}

#loader-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1000;
}

#loader{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-20%, -50%);
 z-index: 1001;
}

#loader ul{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-35%, -50%);
 display: flex;
}

#loader ul li{
 list-style: none;
 width: 6px;
 height: 20px;
 background: #ecf0f1;
 margin: 0 4px;
 animation: animate .8s infinite alternate;
 transform-origin: bottom;
}


@keyframes animate {
 0%{
   transform: scaleY(1);
 }
 25%{
   transform: scaleY(1);
 }
 50%{
   transform: scaleY(1);
 }
 75%{
   transform: scaleY(1);
 }100%{
   transform: scaleY(3);
 }
}

#loader ul li:nth-child(1){
 animation-delay: .1s;
 background: #f1c40f;
}
#loader ul li:nth-child(2){
 animation-delay: .2s;
 background: #e74c3c;
}
#loader ul li:nth-child(3){
 animation-delay: .3s;
 background: #3498db;
}
#loader ul li:nth-child(4){
 animation-delay: .4s;
 background: #34495e;
}
#loader ul li:nth-child(5){
 animation-delay: .5s;
 background: #e67e22;
}
#loader ul li:nth-child(6){
 animation-delay: .6s;
 background: #ecf0f1;
}

 #loader-wrapper .loader-section {
     position: fixed;
     top: 0;
     width: 51%;
     height: 100%;
     background: #222222;
     z-index: 1000;
     -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
     -ms-transform: translateX(0);  /* IE 9 */
     transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
 }

 #loader-wrapper .loader-section.section-left {
     left: 0;
 }

 #loader-wrapper .loader-section.section-right {
     right: 0;
 }

 /* Loaded */
 .loaded #loader-wrapper .loader-section.section-left {
     -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
         -ms-transform: translateX(-100%);  /* IE 9 */
             transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

     -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
             transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
 }

 .loaded #loader-wrapper .loader-section.section-right {
     -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
         -ms-transform: translateX(100%);  /* IE 9 */
             transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
 }

 .loaded #loader {
     opacity: 0;
     -webkit-transition: all 0.3s ease-out;
             transition: all 0.3s ease-out;
 }
 .loaded #loader-wrapper {
     visibility: hidden;

     -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
         -ms-transform: translateY(-100%);  /* IE 9 */
             transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

     -webkit-transition: all 0.3s 1s ease-out;
             transition: all 0.3s 1s ease-out;
 }

 /* JavaScript Turned Off */
 .no-js #loader-wrapper {
     display: none;
 }
 .no-js h1 {
     color: #222222;
 }
